/* application specific styles here */
.container-fluid {
  max-width: 1400px;
}
#headercolor {
  background-color: rgb(135, 47, 194) ;
  padding: 10px ;
}

#background-blue {
  background-color: rgb(135, 135, 204);
}